In [28]:
#Import all the required packages

In [29]:
#Pandas data is short for panel data that help to manipulate data in python
import pandas as pd
#Numpy is help to generate random numbers and do other many things
import numpy as np

In [30]:
#Import the Bread Cancer dataset

In [31]:
data = pd.read_csv("datafile.csv")

In [32]:
#Get header values in the table

In [33]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [34]:
# remove the 1st attribute from the table and replace the 2 with -1 and 4 with +1

In [35]:
diag_map = {4: 1.0, 2: -1.0}
data['Class'] = data['Class'].map(diag_map)

data= data.drop(labels='Sample code number', axis=1)

In [36]:
#Get header values in the table

In [37]:
data.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,-1.0
1,5,4,4,5,7,10,3,2,1,-1.0
2,3,1,1,1,2,2,3,1,1,-1.0
3,6,8,8,1,3,4,3,7,1,-1.0
4,4,1,1,3,2,1,3,1,1,-1.0

In [38]:
x=data.iloc[:,0:9]

In [39]:
print(x)

     Clump Thickness  Uniformity of Cell Size  Uniformity of Cell Shape  \
0                  5                        1                         1
1                  5                        4                         4
2                  3                        1                         1
3                  6                        8                         8
4                  4                        1                         1
..               ...                      ...                       ...
694                3                        1                         1
695                2                        1                         1
696                5                       10                        10
697                4                        8                         6
698                4                        8                         8

     Marginal Adhesion  Single Epithelial Cell Size  Bare Nuclei  \
0                    1                            2            1
1                    5                            7           10
2                    1                            2            2
3                    1                            3            4
4                    3                            2            1
..                 ...                          ...          ...
694                  1                            3            2
695                  1                            2            1
696                  3                            7            3
697                  4                            3            4
698                  5                            4            5

     Bland Chromatin  Normal Nucleoli  Mitoses
0                  3                1        1
1                  3                2        1
2                  3                1        1
3                  3                7        1
4                  3                1        1
..               ...              ...      ...
694                1                1        1
695                1                1        1
696                8               10        2
697               10                6        1
698               10                4        1

[699 rows x 9 columns]

In [40]:
y=data.iloc[:,-1]

In [41]:
print(y)

0     -1.0
1     -1.0
2     -1.0
3     -1.0
4     -1.0
      ...
694   -1.0
695   -1.0
696    1.0
697    1.0
698    1.0
Name: Class, Length: 699, dtype: float64

In [42]:
#Split the data into traing and testing

In [43]:
x_train=x.iloc[0:466]

In [44]:
print(x_train)

     Clump Thickness  Uniformity of Cell Size  Uniformity of Cell Shape  \
0                  5                        1                         1
1                  5                        4                         4
2                  3                        1                         1
3                  6                        8                         8
4                  4                        1                         1
..               ...                      ...                       ...
461                3                        1                         1
462                6                        1                         1
463                4                        1                         1
464                4                        1                         1
465               10                        9                         8

     Marginal Adhesion  Single Epithelial Cell Size  Bare Nuclei  \
0                    1                            2            1
1                    5                            7           10
2                    1                            2            2
3                    1                            3            4
4                    3                            2            1
..                 ...                          ...          ...
461                  1                            2            5
462                  3                            2            1
463                  1                            2            1
464                  1                            2            1
465                  7                            6            4

     Bland Chromatin  Normal Nucleoli  Mitoses
0                  3                1        1
1                  3                2        1
2                  3                1        1
3                  3                7        1
4                  3                1        1
..               ...              ...      ...
461                1                1        1
462                1                1        1
463                1                2        1
464                1                1        1
465                7               10        3

[466 rows x 9 columns]

In [45]:
x_test=x.iloc[466:]

In [46]:
print(x_test)

     Clump Thickness  Uniformity of Cell Size  Uniformity of Cell Shape  \
466               10                        6                         6
467                6                        6                         6
468                4                        1                         1
469                1                        1                         2
470                3                        1                         1
..               ...                      ...                       ...
694                3                        1                         1
695                2                        1                         1
696                5                       10                        10
697                4                        8                         6
698                4                        8                         8

     Marginal Adhesion  Single Epithelial Cell Size  Bare Nuclei  \
466                  2                            4           10
467                  5                            4           10
468                  1                            2            1
469                  1                            2            1
470                  1                            1            1
..                 ...                          ...          ...
694                  1                            3            2
695                  1                            2            1
696                  3                            7            3
697                  4                            3            4
698                  5                            4            5

     Bland Chromatin  Normal Nucleoli  Mitoses
466                9                7        1
467                7                6        2
468                1                1        1
469                2                1        1
470                2                1        1
..               ...              ...      ...
694                1                1        1
695                1                1        1
696                8               10        2
697               10                6        1
698               10                4        1

[233 rows x 9 columns]

In [47]:
y_train=y.iloc[0:466]

In [48]:
print(y_train)

0     -1.0
1     -1.0
2     -1.0
3     -1.0
4     -1.0
      ...
461   -1.0
462   -1.0
463   -1.0
464   -1.0
465    1.0
Name: Class, Length: 466, dtype: float64

In [49]:
y_test=y.iloc[466:]

In [50]:
print(y_test)

466    1.0
467    1.0
468   -1.0
469   -1.0
470   -1.0
      ...
694   -1.0
695   -1.0
696    1.0
697    1.0
698    1.0
Name: Class, Length: 233, dtype: float64

In [51]:
#From the Paper , 1=PA, 2= PA-I, 3=PA-II, Soft Margins

In [52]:
#Three variants
#Eac variant empahsize a different update rule
variant=[1,2,3]

In [53]:
for s in variant:
    #Number of iterations
    #Maximum number of iterations the model makes oer the training data
    iteration=[1,2,10]
    for i in iteration:
        #Initialize of the weight as w=[0,0,0,...,0]
        W=np.zeros(9)
        #initialize the aggressive parameter C
        #Regularization parameter and denotes the penalization of the model will make on an incorrect prediction
        C=1
        
        for r in range(i):
            for p in range(x_train.shape[0]):
                #initailixe the x train and  y train values
                x_tr=x_train.iloc[p,:]
                y_tr=y_train.iloc[p]
                
                #Calculate the suffer loss value
                #loss=max{0,1-y_tr(w,T,x_tr)}
                loss=max(0,1-(y_tr*np.dot(W.T,x_tr)))
                #Calculate the PA value set the T value
                if(s==1):
                    T=loss/ (np.power(np.linalg.norm(x_tr,ord=2),2))
                 #Calculate the PA-I value set the T value   
                elif(s==2):
                    T=min(C,loss /(np.power(np.linalg.norm(x_tr,ord=2),2)))
                #Calculate the PA-II value set the T value   
                else:
                    T = loss / (np.power(np.linalg.norm(x_tr,ord=2),2))+(1/(2*C))
                
                #Update
                W = W + T*y_tr*x_tr
                
        #Training_accuracy
        correct_train_count=0
        for c in range(x_train.shape[0]):
            #initailixe the x train and y train values
            x_tr=x_train.iloc[c,:]
            y_tr=y_train.iloc[c]
            #y_pred=sign(w.T,x_tr)
            y_pred=np.sign(np.dot(W.T,x_tr))
            
            if(y_pred*y_tr==1):
                correct_train_count+=1
            train_accuracy=(correct_train_count/x_train.shape[0])*100

        print("Algorithm", s)
        print(i)
        print("Training accuracy of the dataset: " , train_accuracy)
        
        #Testing_accuracy
        correct_test_count=0
        for c in range(x_test.shape[0]):
            #initailixe the x test and y test values
            x_tes=x_test.iloc[c,:]
            y_tes=y_test.iloc[c]
            #y_pred=sign(w.T,x_tr)
            y_pred=np.sign(np.dot(W.T, x_tes))
            
            if(y_pred*y_tes==1):
                correct_test_count+=1
            test_accuracy=(correct_test_count/x_test.shape[0])*100
            
        print("Algorithm", s)
        print(i)
        print("Testing accuracy of the dataset: " , test_accuracy)

Algorithm 1
1
Training accuracy of the dataset:  82.83261802575107
Algorithm 1
1
Testing accuracy of the dataset:  93.13304721030042
Algorithm 1
2
Training accuracy of the dataset:  82.83261802575107
Algorithm 1
2
Testing accuracy of the dataset:  93.13304721030042
Algorithm 1
10
Training accuracy of the dataset:  82.61802575107296
Algorithm 1
10
Testing accuracy of the dataset:  93.56223175965665
Algorithm 2
1
Training accuracy of the dataset:  82.83261802575107
Algorithm 2
1
Testing accuracy of the dataset:  93.13304721030042
Algorithm 2
2
Training accuracy of the dataset:  82.83261802575107
Algorithm 2
2
Testing accuracy of the dataset:  93.13304721030042
Algorithm 2
10
Training accuracy of the dataset:  82.61802575107296
Algorithm 2
10
Testing accuracy of the dataset:  93.56223175965665
Algorithm 3
1
Training accuracy of the dataset:  83.69098712446352
Algorithm 3
1
Testing accuracy of the dataset:  93.13304721030042
Algorithm 3
2
Training accuracy of the dataset:  83.47639484978541
Algorithm 3
2
Testing accuracy of the dataset:  93.99141630901288
Algorithm 3
10
Training accuracy of the dataset:  81.75965665236052
Algorithm 3
10
Testing accuracy of the dataset:  93.99141630901288